<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ 'js/materialize.min.js' | relative_url }}"></script>

<!-- External libraries -->
<script src="{{ 'js/imagesloaded.pkgd.min.js' | relative_url }}"></script>
<script src="{{ 'js/masonry.pkgd.min.js' | relative_url }}"></script>
<script src="{{ 'js/TweenMax.min.js' | relative_url }}"></script>
<script src="{{ 'js/ScrollMagic.min.js' | relative_url }}"></script>
<script src="{{ 'js/animation.gsap.min.js' | relative_url }}"></script>

<!-- Initialization script -->
<script src="{{ 'js/startup.js' | relative_url }}"></script>
<script src="{{ 'js/init.js' | relative_url }}"></script>