<ul id="pages" class="dropdown-content">
  <li><a href="{{ 'horizontal-half.html' | relative_url }}">Horizontal Halves</a></li>
  <li><a href="{{ 'sierra.html' | relative_url }}">Zoom Out</a></li>
  <li><a href="{{ 'circle-reveal.html' | relative_url }}">Circle Reveal</a></li>
  <li><a href="{{ 'phone-wall.html' | relative_url }}">Phone Wall</a></li>
  <li><a href="{{ 'element-transitions.html' | relative_url }}">Element Transitions</a></li>
  <li><a class="active" href="{{ 'basic-elements.html' | relative_url }}">Basic Elements</a></li>
  <li><a href="{{ 'card-shuffle.html' | relative_url }}">Shuffle</a></li>
  <li><a href="{{ 'postcards.html' | relative_url }}">Postcards</a></li>
</ul>