<ul id="slide-out" class="side-nav">
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li class="bold">
        <a class="collapsible-header waves-effect waves-teal active">Pages</a>
        <div class="collapsible-body">
          <ul>
            <li><a href="{{ 'horizontal-half.html' | relative_url }}">Horizontal Halves</a></li>
            <li><a href="{{ 'sierra.html' | relative_url }}">Zoom Out</a></li>
            <li><a href="{{ 'circle-reveal.html' | relative_url }}">Circle Reveal</a></li>
            <li><a href="{{ 'phone-wall.html' | relative_url }}">Phone Wall</a></li>
            <li><a href="{{ 'element-transitions.html' | relative_url }}">Element Transitions</a></li>
            <li><a href="{{ 'basic-elements.html' | relative_url }}">Basic Elements</a></li>
            <li><a href="{{ 'card-shuffle.html' | relative_url }}">Shuffle</a></li>
            <li><a class="active" href="{{ 'postcards.html' | relative_url }}">Postcards</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li><a class="waves-effect waves-teal" href="{{ 'blog.html' | relative_url }}">Blog</a></li>
  <li><a class="waves-effect waves-teal" href="{{ 'team.html' | relative_url }}">Team</a></li>
  <li><a class="waves-effect waves-teal" href="{{ 'docs/about.html' | relative_url }}">Docs</a></li>
  <li><a class="waves-effect waves-teal" href="#">Buy Now!</a></li>
</ul>