<div class="section full-height" id="team">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h1>The Founders</h1>
        <div class="row masonry-grid">
          <div class="col s12 m6 l6">
            <div class="card">
              <div class="card-image">
                <img src="{{ 'images/Rohit.jpg' | relative_url }}">
              </div>
              <div class="card-content" style="color: #28334A; background-color: #FBDE44">
                <span class="card-title">
                  Rohit Bharti, Founder <br />
                  An INFS Certified Nurtition and Fitness Consultant
                </span>
                <p>
                  In my journey of four years from being a Foodie to a Certified Nutrition and
                  Fitness Consultant, I have discovered that adopting a healthy and sustainable
                  lifestyle is no rocket science. If I could it, everybody can do it.
                  My aim is to empower poeple, ready to hustle a bit for their health, with the
                  right tools and knowledge.
                </p>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6">
            <div class="card">
              <div class="card-image">
                <img src="{{ 'images/shefali.jpeg' | relative_url }}">
              </div>
              <div class="card-content" style="color: #28334A; background-color: #FBDE44">
                <span class="card-title">Shefali Vijaywargiya, Co-founder</span>
                <p>
                  Being a fitness enthusiast myself, I believe that the power of personalized nutrition coupled
                  with structured training can do wonders for your body. In over four years of my experience in
                  sales and marketing, it was my fitness regime that kept me performing at my best: be it the field
                  or crunching out long hours at office. Aware of the role that good health plays in one's life, I
                  want to provide a platform for everybody to follow a holistic lifestyle.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>