<div class="section light full-height">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <h1>Testimonials</h1>
        <div class="row masonry-grid">
          <div class="col s12 m6 l4">
            <div class="card">
              <div class="card-content" style="color: white; background-color: black">
                <p>
                  Rohit is a well-researched and informed trainer. He has adequate knowledge when it comes to
                  recommending a diet and workout routine. His patience and resilience has helped me not only shred 6 kgs
                  in a sustainable way but also gain interest in keeping myself fit. We haven't yet hit our goals due
                  to irregularities on my part but this guy does not give up on you so easily.
                  <span class="right"> <h4> Nitesh </h4> </span>
                </p>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l4">
            <div class="card">
              <div class="card-content" style="color: white; background-color: black">
                <p>
                  Thanks for being a good mentor and for guiding me on the right path to reach my goal. I am very much
                  satisfied with my mentor Rohit. He taught me each and everything clearly and clarified my doubts. Thank
                  you for giving me this opportunity.
                  <span class="right"> <h4> Archana </h4> </span>
                </p>
            </div>
            </div>
          </div>
          <div class="col s12 m6 l4">
            <div class="card">
              <div class="card-content" style="color: white; background-color: black">
                <p>
                  It was really great working with you over these 4 weeks. You helped me understand the science
                  behind proper diet and training fairly easily. The personalized program you created after
                  thoroughly understanding my existing lifestyle helped me stay on track and become fitter as well
                  as energetic. Your availability to answer my questions movitvated me to continue. Thank you Rohit.
                  <span class="right"> <h4> Ravina </h4> </span>
                </p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>