<!doctype html>
<html>
  {% include head.html %}
  <body>

    <!-- Navbar -->
    <nav class="navbar absolute">
      <div class="nav-wrapper">
        <a href="horizontal-half.html" class="brand-logo"><i class="icon-diamond"></i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="active"><a class="dropdown-button" href="#!" data-activates="pages" data-constrainWidth="false" data-belowOrigin="true">Pages<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="team.html">Team</a></li>
          <li><a href="docs/about.html">Docs</a></li>
          <li><a href="#">Buy Now!</a></li>
        </ul>

        {% include pages.html %}

        <a href="#" data-activates="slide-out" class="button-collapse right"><i class="material-icons white-text">menu</i></a>
      </div>
    </nav>
    {% include slidenav.html %}

    <!-- Flip Out Intro -->
    <div class="flip-out-intro header full-height">
      <div class="fixed-wrapper">
        <div class="background">
          <img src="{{ 'images/unsplash_gradienta.jpg' | relative_url }}" alt="">
        </div>
        <div class="header-wrapper row valign-wrapper">
          <div class="col s12 m8 offset-m2 valign">
            <h1>Hustle and Health</h1>
            <span class="tagline">To promote physical fitness and sustainable lifestyle changes for holistic health</span>
            <button class="read-more"><i class="icon-caret-down"></i></button>
          </div>
        </div>
      </div>
    </div>

    <!-- Features -->
    {% include features.html %}

    <!-- Pricing Tables -->
    {% include prices.html %}

    <!-- Footer -->
    {% include footer.html %}
    {% include foot.html %}
  </body>
</html>