<!doctype html>
<html>
  {% include head.html %}
  <body>

    <!-- Navbar -->
    <nav class="navbar">
      <div class="nav-wrapper">
        <a href="" class="brand-logo" style="padding-top: 10px"> <img src="{{ 'images/logo.jpg' | relative_url }}" style="width: 80%"/> </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li style="color: #28334A"><a href="#approach">Approach</a></li>
          <li style="color: #28334A"><a href="#plans">Plans</a></li>
          <li style="color: #28334A"><a href="#testimonials">Testimonials</a></li>
          <li style="color: #28334A"><a href="#team">Team</a></li>
          <li style="color: #28334A"><a href="#contact">Contact Us</a></li>
        </ul>
      </div>
    </nav>
    {% include slidenav.html %}

    <!-- Flip Out Intro -->
    <div class="flip-out-intro header full-height">
      <div class="fixed-wrapper">
        <div class="background">
          <img src="{{ 'images/collage.jpg' | relative_url }}" alt="">
        </div>
        <div class="header-wrapper row valign-wrapper">
          <div class="col s12 m8 offset-m2 valign">
            <button class="read-more"><i class="icon-caret-down"></i></button>
          </div>
        </div>
      </div>
    </div>

    <!-- Features -->
    {% include features.html %}
    {% include app_components.html %}

    <!-- Pricing Tables -->
    {% include prices.html %}

    <!-- Testimonials -->
    {% include testimonials.html %}

    <!-- Story -->
    {% include story.html %}
    
    <!-- Contact Us -->
    {% include contact.html %}

    <!-- Footer -->
    {% include footer.html %}
    {% include foot.html %}
  </body>
</html>